html {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#calculatorBody{
    height:25vw;
    width: 20vw;
    background-color: black;
    
}

#screens{
    display: flex;
    flex-direction: row;
    max-width: 25vw;
}
#screen, button, #miniScreen{
    height:3vw;
    margin: 1vw;
    border-radius: 10px;
    border: 2px solid red;   
    background-color: aliceblue;
}

.buttonRow{
    display: flex;
    flex-direction: row;
    
}

#screen{
    flex-grow: 4;
    flex-shrink: 1;
    max-width: 11vw;
}

#miniScreen{
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 5vw

}

button{
    width: 3vw;
    background-color: yellow;   
}



