html {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#calculatorBody{
    height:25vw;
    width: 20vw;
    background-color: black;
    
}

#screen, button{
    height:3vw;
    width:18vw;
    margin: 1vw;
    border-radius: 10px;
    border: 2px solid red;   
    background-color: aliceblue;
}

.buttonRow{
    display: flex;
    flex-direction: row;
    
}

button{
    width: 3vw;
    background-color: yellow;   
}



