html {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#calculatorBody{
    height:30vw;
    width: 20vw;
    padding: 0.5vw;
    background-color: #65647C;
    border-radius: 10px;
    
}

#screens{
    display: flex;
    flex-direction: row;
    max-width: 25vw;
}
#screen, button, #miniScreen{
    height:3vw;
    margin: 0.5vw;
    border-radius: 10px;
    border: 4px solid aliceblue;   
    background-color: aliceblue;
}

.buttonRow{
    display: flex;
    flex-direction: row;
    
}

#screen{
    flex-grow: 4;
    flex-shrink: 1;
    max-width: 13vw;
}

#miniScreen{
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 4vw

}

button{
    width: 4vw;
    height: 4vw;
    background-color: yellow;   
}

#enter{
    width: 9vw;
    
}

.number{
    background-color: #8b7e74;
}

.Operator, #enter{
    background-color: #C7BCA1;
}

.options{
    background-color: #F1D3B3;
}

#power{
    border-radius: 1.5vw;
    background-color: black;
    color: #65647C;
}

#power, .options, .Operator, .number{
    font-size: large;
    font-weight: 900;
}

#power:hover, .options:hover, .Operator:hover, .number:hover{
    border: 0px solid #65647C;
    opacity: 0.7;
}

